body:not(.show-tooltips) .leaflet-tooltip .tooltip-container:not(.featured) {
  opacity : 0 !important;
}

body.show-tooltips .leaflet-popup.leaflet-popup.leaflet-popup {
  opacity        : 0 !important;
  pointer-events : none;
}

.leaflet-popup-content-wrapper {
  padding       : 0.35rem 0.75rem;
  border-radius : var(--radius);

  .leaflet-popup-content {
    margin : 0;
  }

  p {
    margin : 0 0 0.25rem;
    color  : #6D7280;

    &.subtitle {
      color : #9CA3AF;
    }
  }
}

.leaflet-tooltip {
  padding       : 0;
  margin-left   : -0.9rem;
  margin-top    : -1.2rem;
  font-size     : 14px;
  opacity       : 1 !important;
  border-radius : var(--radius);
  box-shadow    : none;
  filter        : var(--shadow);
  font-family   : 'Open Sans', sans-serif;
  font-weight   : 500;
  color         : #6D7280;
  background    : transparent;
  border        : none;

  .tooltip-container {
    padding          : 0.35rem 0.75rem;
    background-color : white;
    border-radius    : var(--radius);

    &.featured {
      color            : white;
      background-color : var(--color);
    }

    .subtitle {
      font-weight : normal;
      color       : #9CA3AF;
    }
  }

  &::before {
    display : none;
  }

  &:first-of-type,
  &:nth-of-type(2) {
    z-index : 10000;
  }
}

.leaflet-popup-close-button {
  display : none;
}

.leaflet-popup-tip {
  display : none;
}
