.checkbox-container {
  display               : grid;
  grid-template-columns : 1fr 1fr;
  gap                   : 1rem
}

.checkbox {
  display          : flex;
  justify-content  : center;
  align-items      : center;
  gap              : 0.375rem;
  padding          : 0.75rem;
  background-color : #F1F6F9;
  border-radius    : var(--radius);
  color            : #9CA3AF;
  font-size        : 0.875rem;
  font-weight      : 500;
  cursor           : pointer;

  @include from-desktop {
    padding-block : 0.5rem;
  }

  .input {
    appearance : none;
  }

  &:hover {
    background-color : var(--bg-blue);
  }

  &.is-checked {
    color            : var(--blue);
    box-shadow       : 0 0 0 2px var(--blue);
    background-color : var(--bg-blue);
  }
}
