.control-ui {
  @include to-desktop {
    --margin         : 1rem;
    --size           : 2rem;
    --timing         : 250ms;
    position         : fixed;
    z-index          : 1000;
    bottom           : 0;
    left             : 0;
    width            : 100%;
    transition       : transform ease-in-out var(--timing);

    .arrow-button {
      all              : unset;
      display          : flex;
      justify-content  : center;
      align-items      : center;
      margin-inline    : auto;
      margin-bottom    : var(--margin);
      width            : var(--size);
      height           : var(--size);
      color            : white;
      background-color : var(--blue);
      border-radius    : 50%;
      cursor           : pointer;
      transition       : transform ease-in-out var(--timing);
    }

    &.is-hidden {
      transform : translateY(calc(100% - var(--size) - var(--margin) - 46px));

      .arrow-button {
        transform : rotate(180deg);
      }
    }
  }
}
