.powered-by {
  display          : flex;
  flex-direction   : column;
  padding          : 0.5rem 1rem 0.75rem;
  position         : fixed;
  top              : var(--off-set);
  left             : var(--off-set);
  z-index          : 1000;
  background-color : white;
  border-radius    : var(--radius);
  font-size        : 0.75rem;
  color            : #244986;
  font-weight      : 500;
  filter           : var(--shadow);
  text-decoration  : none;

  @include from-desktop {
    top    : initial;
    left   : initial;
    bottom : var(--off-set);
    right  : var(--off-set);
  }

  .logo {
    height : 1rem;
  }
}
