.search-input {
  position : relative;

  .label-container {
    display         : flex;
    flex-direction  : column;
    justify-content : end;
  }

  .input {
    padding       : 0.75rem;
    color         : #4B5563;
    border-radius : var(--radius);
    border        : 1px solid #D2D5DA;

    &::placeholder {
      color : #9CA3AF;
    }
  }

  .list {
    position         : absolute;
    bottom           : 3rem;
    width            : 100%;
    padding-block    : 0.5rem;
    background-color : white;
    border-radius    : var(--radius);
    filter           : drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));

    @include from-desktop {
      bottom : initial;
      top    : 5rem;
    }

    &:empty::before {
      content      : 'No encontramos esa estación 😔';
      font-weight  : 500;
      padding-left : 0.75rem;
    }
  }

  .item {
    padding            : 0.1rem 0.75rem;
    user-select        : none;
    cursor             : pointer;
    text-overflow      : ellipsis;
    overflow           : hidden;
    display            : -webkit-box;
    -webkit-box-orient : vertical;
    -webkit-line-clamp : 1;

    &:hover {
      background-color : var(--bg-blue);
    }
  }

  &:nth-of-type(2) {
    // Hack feo porque me da flojera hacer otra solución
    @include from-desktop {
      margin-left : -0.75rem;
    }
  }
}
