.search-panel {
  @extend %container;
  gap       : 1.5rem;
  font-size : 0.875rem;
  left      : var(--off-set);
  top       : var(--off-set);

  /*@include to-desktop {
    padding          : var(--padding);
    background-color : white;
  }*/

  .label {
    display       : inline-flex;
    margin-bottom : 0.5rem;
  }

  @include from-desktop {
    display     : flex;
    align-items : end;
  }
}

:where(.search-panel) {
  display : grid;
}
