.steps-panel {
  @extend %container;

  @include from-desktop {
    --size         : 12rem;
    display        : flex;
    flex-direction : column;
    left           : var(--off-set);
    top            : var(--size);
    padding-right  : 1rem;
    max-height     : calc(100vh - var(--size) - var(--off-set));
    width          : 250px;
  }

  .title {
    color         : #1F2937;
    font-size     : 1.25rem;
    margin-bottom : 1rem;
    line-height   : 1.5;
  }
}

.steps {
  display  : grid;
  overflow : auto;

  @include to-desktop {
    max-height : 70vh;
  }

  @include from-desktop {
    display        : flex;
    flex-direction : column;

    /* Tamaño del scroll */
    &::-webkit-scrollbar {
      width : 8px;
    }

    /* Estilos barra (thumb) de scroll */
    &::-webkit-scrollbar-thumb {
      background    : #ccc;
      border-radius : 4px;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color : #999999;
    }

    &::-webkit-scrollbar-thumb:hover {
      background : #b3b3b3;
      box-shadow : 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    /* Estilos track de scroll */
    &::-webkit-scrollbar-track {
      background    : #e1e1e1;
      border-radius : 4px;
    }

    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
      background : #d4d4d4;
    }
  }
}

.step {
  position      : relative;
  display       : flex;
  align-items   : baseline;
  gap           : 0.5rem;
  padding-left  : 0.25rem;
  border-radius : var(--radius);

  /*&:nth-of-type(2),
  &:nth-last-child(2) {
    display : none;
  }
*/
  &:not(:last-of-type) {
    padding-bottom : 1.5rem;
  }

  &::before,
  &::after {
    --size  : 0.75rem;
    content : '';
    display : block;
    flex    : none;
  }

  &::before {
    width         : var(--size);
    height        : var(--size);
    border-radius : 50%;
    border        : 2px solid var(--color);
  }

  &:not(:last-of-type)::after {
    position         : absolute;
    top              : calc(var(--size) + 0.35rem);
    left             : calc((var(--size) / 2) - 1px + 0.25rem);
    width            : 2px;
    background-color : var(--color);
    height           : calc(100% - var(--size));
    z-index          : 1;
  }

  .subtitle {
    font-size : 0.875rem;
    color     : #9CA3AF;
  }

  &:hover {
    background-color : var(--bg-blue);
    cursor           : pointer;
  }
}

.empty-state.steps {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  gap             : 1.5rem;
  text-align      : center;
  font-weight     : 500;
  padding-top     : 1rem;

  .image {
    width      : 100%;
    max-width  : 320px;
    max-height : 400px;
  }
}
