.tabs {
  display : flex;
}

.tab {
  all              : unset;
  display          : flex;
  padding          : 0.625rem 1rem;
  flex-grow        : 1;
  font-weight      : 600;
  background-color : #E5E7EB;
  cursor           : pointer;

  &:hover:not(.is-active) {
    color : black;
  }

  &:first-of-type {
    border-top-left-radius : var(--big-radius);
  }

  &:last-of-type {
    border-top-right-radius : var(--big-radius);
  }

  &.is-active {
    color            : var(--blue);
    background-color : white;
  }
}
