@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

$desktop : 1024px;

@mixin from-desktop() {
  @media screen and (min-width : $desktop) {
    @content;
  }
}

@mixin to-desktop() {
  @media screen and (max-width : $desktop) {
    @content;
  }
}

*,
*::before,
*::after {
  padding    : 0;
  margin     : 0;
  box-sizing : border-box;
}

:root {
  // Colors
  --violet     : #8B5CF6;
  --green      : #22C55E;
  --orange     : #F59E0B;
  --red        : #EF4444;
  --blue       : #3B82F6;
  --bg-blue    : #EFF6FF;

  // Utils
  --radius     : 0.375rem;
  --big-radius : 0.75rem;
  --shadow     : drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  --off-set    : 1rem;
  --padding    : 1.5rem;

  @include from-desktop {
    --off-set : 2rem;
  }
}

:where(body) {
  color       : #6D7280;
  font-size   : 16px;
  line-height : 1.6;
  font-family : 'Open Sans', sans-serif;
}

:where(ul) {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

.hidden {
  display : none;
}

%container {
  @include from-desktop {
    position         : fixed;
    background-color : white;
    z-index          : 1000;
    padding          : var(--padding);
    border-radius    : var(--big-radius);
    filter           : var(--shadow);
  }
}
