.button {
  display          : inline-flex;
  justify-content  : center;
  align-items      : center;
  padding          : .75rem 1.5rem;
  color            : white;
  background-color : var(--blue);
  font-family      : 'Open Sans', sans-serif;
  line-height      : 1.5;
  font-weight      : 500;
  font-size        : 1rem;
  letter-spacing   : 0.01px;
  text-align       : center;
  border-radius    : var(--radius);
  border           : none;
  cursor           : pointer;

  @include from-desktop {
    font-size     : 0.875rem;
    padding-block : 0.5rem;
  }

  &:hover {
    background-color : #2563EB;
  }
}
